# Ignorer le dossier des données brutes

data_brute/

mlruns/

modeles/random_forest_pipeline.joblib

# Ignorer certains types de fichiers lourds

*.csv
*.json
*.zip
*.pkl
*.yaml

# Exceptions : ne pas ignorer ces fichiers précis

!fichier_test.csv
!client_unique_test.json